AuthType Basic
AuthUserFile /virtual/local.com/www/htdocs/admin/.htpasswd
AuthGroupFile /dev/null
AuthName "Admin"
require valid-user

RewriteEngine On

# -------------------------------------------
# all our legacy code rewrites are here
# -------------------------------------------